---
layout: page
---

<div class="col-lg-10 mx-auto mt-5 post">
    {{ content }}

<p>
    {%- if page.categories != empty -%}
        Categories: 
        {% for category in page.categories %}
            <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/portfolio/categories#' | relative_url }}">
                <span class="tag badge badge-pill text-primary border border-primary">{{ category }}</span>
            </a>
        {% endfor %}
    {%- endif -%}

</p>
</div>
